In [2]:
a=5
print(a)

5

In [3]:
name = 'Pooja Ravi'
name

'Pooja Ravi'

In [4]:
type(name)

str

In [5]:
#First letters in Caps
name.title()

'Pooja Ravi'

In [7]:
#Capital letter
name.upper()

'POOJA RAVI'

In [8]:
#small letter
name.lower()

'pooja ravi'

In [9]:
first_name='Pooja'
last_name='Ravi'
full_name=f' Hi {first_name} {last_name}'
print(full_name)

 Hi Pooja Ravi

In [10]:
print("python")

python

In [11]:
#One tab
print(" \t python")

 	 python

In [13]:
# One tab #Next line
print(" \n \t python")

 	 python

In [16]:
# One tab #Next line
print("Languages: \n\t Python \n\t SQL \n\t Java")

Languages:
	 Python
	 SQL
	 Java

In [21]:
language='Python '

In [22]:
# To see the length of the string
# as it counts space too - The o\p is 7
len(language)

7

In [19]:
# To remove the left spaces
language.lstrip()

'Python '

In [20]:
# To remove the right spaces
language.rstrip()

'Python'

In [23]:
language[0]

'P'

In [24]:
language[4]

'o'

In [26]:
message='This is python class'

In [27]:
message[10:14]
#Indexing starts form 0

'thon'

In [28]:
#Last string
message[-1]

's'

In [29]:
#To count the letters
message.count('t')

1

In [31]:
#To find the index
message.index('t')

10

In [32]:
#To find the index
message.index('T')

0

In [33]:
# To find the count -- Total count
message.count('')

21

In [36]:
# To replace a word
message=message.replace('python','SQL')

In [37]:
message

'This is SQL class'

In [38]:
name='Cat'

In [39]:
len(name)

3

In [42]:
name.count("")

4

In [ ]:
# Index starts from 0
#Length starts from 1 and adds 1 again
#Count starts from 1 and adds 1 again

In [43]:
4/1

4.0

In [44]:
3*1

3

In [45]:
# Power 2
3**2

9

In [46]:
2+3*4

14

In [47]:
0.1+0.2

0.30000000000000004

In [49]:
#Will ignore space
a=1_000_0000
a

10000000

In [50]:
#Quotient
4//2

2

In [54]:
name='This is python class'

In [55]:
name.find('o')

12

In [56]:
name.split()

['This', 'is', 'python', 'class']

In [57]:
#Checking T/F
name.startswith('T')

True

In [58]:
name.startswith('o')

False

In [60]:
#To reverse
''.join(reversed(name))

'ssalc nohtyp si sihT'

In [61]:
#Joins a with every letter
'a'.join(name)

'Tahaiasa aiasa apayatahaoana acalaaasas'

In [62]:
name.isalnum()

False

In [63]:
name.isalpha()

False

In [66]:
message ='Hi How'
message+ =''
message+ ='you'

message

SyntaxError: invalid syntax (<ipython-input-66-6bf0bb2817ab>, line 2)