In [7]:
import os
import pandas as pd

In [4]:
#Getting the current working directory
os.getcwd()

'C:\\Users\\Pooja'

In [5]:
#Changing the directory
os.chdir("C://Users//Pooja//Dataset")

In [8]:
# Reading a csv file
Admit =pd.read_csv("admit.csv")

In [9]:
# To see first 5 rows 
Admit.head()

   GRE  TOEFL  Univ_Rating  SOP  LOR   CGPA  Research  Admit
0  337    118            4  4.5   4.5  9.65         1      1
1  324    107            4  4.0   4.5  8.87         1      1
2  316    104            3  3.0   3.5  8.00         1      1
3  322    110            3  3.5   2.5  8.67         1      1
4  314    103            2  2.0   3.0  8.21         0      0

In [22]:
#To see the last 5 rows
Admit.tail()

     GRE  ...  Admit
395  324  ...      1
..   ...  ...    ...
399  333  ...      1

[5 rows x 8 columns]

In [18]:
# To display only two rows
pd.set_option('display.max_rows',2)
Admit

     GRE  TOEFL  Univ_Rating  SOP  LOR   CGPA  Research  Admit
0    337    118            4  4.5   4.5  9.65         1      1
..   ...    ...          ...  ...   ...   ...       ...    ...
399  333    117            4  5.0   4.0  9.66         1      1

[400 rows x 8 columns]

In [21]:
# To display only two columns
pd.set_option('display.max_columns',2)
Admit

     GRE  ...  Admit
0    337  ...      1
..   ...  ...    ...
399  333  ...      1

[400 rows x 8 columns]

In [23]:
#To see how many row and columns
Admit.shape

(400, 8)

In [15]:
Admit

     GRE  TOEFL  Univ_Rating  SOP  LOR   CGPA  Research  Admit
0    337    118            4  4.5   4.5  9.65         1      1
1    324    107            4  4.0   4.5  8.87         1      1
2    316    104            3  3.0   3.5  8.00         1      1
3    322    110            3  3.5   2.5  8.67         1      1
4    314    103            2  2.0   3.0  8.21         0      0
..   ...    ...          ...  ...   ...   ...       ...    ...
395  324    110            3  3.5   3.5  9.04         1      1
396  325    107            3  3.0   3.5  9.11         1      1
397  330    116            4  5.0   4.5  9.45         1      1
398  312    103            3  3.5   4.0  8.78         0      0
399  333    117            4  5.0   4.0  9.66         1      1

[400 rows x 8 columns]

In [26]:
pd.set_option('display.max_rows',500)
pd.set_option('display.max_columns',500)

In [27]:
# Describing the dataset
Admit.describe()

,GRE,TOEFL,Univ_Rating,SOP,LOR,CGPA,Research,Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.587500
std,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.492901
min,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.000000
25%,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.000000
50%,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,1.000000
75%,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,1.000000
max,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,1.000000

In [28]:
# To list the columns
Admit.columns

Index(['GRE', 'TOEFL', 'Univ_Rating', 'SOP', 'LOR ', 'CGPA', 'Research',
       'Admit'],
      dtype='object')

In [29]:
# To find the mean of a column
Admit['GRE'].mean()

316.8075

In [31]:
# Standard Deviation
Admit['GRE'].std()

11.473646113500477

In [32]:
# Count
Admit['GRE'].count()

400

In [33]:
#Finding the minimumvalue 
Admit['GRE'].min()

290

In [34]:
#Finding the maximum value 
Admit['GRE'].max()

340

In [35]:
# First Quantile
Admit['GRE'].quantile(0.25)

308.0

In [37]:
# Second Quantile
Admit['GRE'].quantile(0.50)

317.0

In [38]:
# Third Quantile
Admit['GRE'].quantile(0.75)

325.0

In [39]:
# Range
dis_range=Admit['GRE'].max() - Admit['GRE'].min()
dis_range

50

In [40]:
type(Admit)

pandas.core.frame.DataFrame

In [41]:
name= 'Pooja Ravi'

In [42]:
name

'Pooja Ravi'